.back_to_top {
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 40;
  display: none;
}
.back_to_top-show {
  display: block;
}
.back_to_top__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  fill: var(--icons-color);
  background-color: var(--secondary-bg);
  opacity: 0.6;

  cursor: pointer;
  animation: totop 1000ms infinite;

  &:hover {
    fill: var(--buttons-bg);
  }

  @include desktop {
    width: 60px;
    height: 60px;
  }
}

@keyframes totop {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}
