.read-more {
  // display: none;
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  @include desktop {
    display: block;
  }
}
.read-more.is-hidden {
  display: block;
  height: 100%;
  opacity: 1;

  transition: opacity 400ms linear;
}
.read-more.is-hidden + .read-more__button--open {
  display: none;
}
.read-more__button {
  background-color: transparent;
  border: none;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--buttons-bg);

  @include desktop {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--menu-focus);
  }
}
