.read-more {
  display: block;
  overflow: hidden;
  height: 0;
  transition-property: height;
  transition-duration: 800ms;
  @include desktop {
    height: var(--height-cont);
    display: block;
    opacity: 1;
  }
}
.read-more.is-hidden {
  height: var(--height-cont);
}
.read-more.is-hidden + .read-more__button--open {
  display: none;
}
.read-more__button {
  background-color: transparent;
  border: none;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--buttons-bg);

  @include desktop {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--menu-focus);
  }
}
