.header {
  padding-top: 7px;
  @include tablet {
    padding-top: 27px;
  }
  @include desktop {
    padding-top: 31px;
  }
}
.header__container {
  @include tablet {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 632px;
  }
  @include desktop {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 822px;
  }
}

.header__background {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2;
  @include mini {
    background-image: url(../images/background/bgtop-mob.png);
    height: calc(235 / 320 * 100vw + 225px);
  }
  @include mobile {
    background-image: url(../images/background/bgtop-mob.png);
    height: calc(235 / 320 * 100vw + 225px);
  }
  @include tablet {
    background-image: url(../images/background/bgtop-tablet.png);
    height: 626px;
  }
  @include desktop {
    background-image: url(../images/background/bgtop-desktop.png);
    height: 1035px;
  }
}
.header-menu {
  @include desktop {
    display: flex;
    align-items: center;
  }
}
.header__logo-box {
  background-repeat: no-repeat;
  background-size: cover;
  @include mini {
    width: calc(96 / 320 * 100vw);
    height: calc(43 / 320 * 100vw);
    margin-left: auto;
    margin-right: auto;
  }
  @include mobile {
    width: calc(96 / 320 * 100vw);
    height: calc(43 / 320 * 100vw);
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    width: 95px;
    height: 43px;
  }
  @include desktop {
    width: 158px;
    height: 71px;
    display: inline-block;
    margin-right: 38px;
  }
}
.header-menu__list {
  display: none;
  @include desktop {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.222;
    align-items: center;
  }
}

.header-menu__item:not(:last-child) {
  margin-right: 20px;
}
.header-menu__link {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__image-box {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  @include mini {
    top: 0;
    left: 0;
    width: calc(117 / 320 * 100vw);
    height: calc(113 / 320 * 100vw);
    background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
    @include retina2 {
      background-image: url(../images/png/mobile/header-donuts_mobile_4x.png);
    }
  }
  @include mobile {
    top: 0;
    left: 0;
    width: calc(117 / 320 * 100vw);
    height: calc(113 / 320 * 100vw);
    background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
    @include retina2 {
      background-image: url(../images/png/mobile/header-donuts_mobile_4x.png);
    }
  }
  @include tablet {
    width: 378px;
    height: 361px;
    top: 0;
    right: 69px;
    transform: translateY(-27px);
    background-image: url(../images/png/tablet/header-donuts_tablet.png);
    @include retina2 {
      background-image: url(../images/png/tablet/header-donuts_tablet_2x.png);
    }
  }
  @include desktop {
    width: 719px;
    height: 660px;
    top: 0;
    right: 0px;
    transform: translate(calc((100vw - 822px) / 2), -31px);

    background-image: url(../images/png/desctop/header-donuts_desctop.png);
    @include retina2 {
      background-image: url(../images/png/desctop/header-donuts_desctop_2x.png);
    }
  }
}
