.header {
  padding-top: 7px;
  @include tablet {
    // padding-top: 27px;
  }
}
.header__container {
  @include tablet {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-bg);
    position: relative;
    width: 632px;
    z-index: -2;
  }
}

.header__background {
  position: absolute;
  top: 0%;

  left: 0;
  right: 0;
  // height: 460px;
  height: calc(235 / 320 * 100vw + 225px);
  background-image: url(../images/background/bgtop-mob.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2;
}
// .header__logo-box {
//   @include mobile {
//     width: 96px;
//     height: 43px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// .header__image-box {
//   @include mobile {
//     top: 0;
//     left: 0;
//     position: absolute;
//     width: 117px;
//     height: 113px;
//     background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     z-index: -1;
//   }
// }
.header__logo-box {
  background-repeat: no-repeat;
  background-size: cover;
  @include mini {
    width: calc(96 / 320 * 100vw);
    height: calc(43 / 320 * 100vw);
    margin-left: auto;
    margin-right: auto;
  }
  @include mobile {
    width: calc(96 / 320 * 100vw);
    height: calc(43 / 320 * 100vw);
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    width: 95px;
    height: 43px;
  }
  @include desktop {
    width: 158px;
    height: 71px;
  }
}

.header__image-box {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  @include mini {
    top: 0;
    left: 0;
    width: calc(117 / 320 * 100vw);
    height: calc(113 / 320 * 100vw);
    background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
    @include retina2 {
      background-image: url(../images/png/mobile/header-donuts_mobile_4x.png);
    }
  }
  @include mobile {
    top: 0;
    left: 0;
    width: calc(117 / 320 * 100vw);
    height: calc(113 / 320 * 100vw);
    background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
    @include retina2 {
      background-image: url(../images/png/mobile/header-donuts_mobile_4x.png);
    }
  }
  @include tablet {
    width: 380px;
    height: 361px;
    top: 0;
    left: 252px;
    background-image: url(../images/png/tablet/header-donuts_tablet.png);
    @include retina2 {
      background-image: url(../images/png/tablet/header-donuts_tablet_2x.png);
    }
  }
}
