.hero {
  @include mobile {
    margin-top: 33px;
    text-align: center;
  }
}

.hero__title {
  @include mobile {
    width: 224px;
    height: 76px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-font);
    font-size: 30px;
    line-height: 1.267;
  }
}

.hero__text {
  @include mobile {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 3px;
  }
}
.hero__button {
  width: 145px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}
