.hero {
  // outline: 1px red solid;
  @include mini {
    padding-top: calc(33 / 320 * 100vw);
    padding-bottom: 50px;
    text-align: center;
    position: relative;
  }
  @include mobile {
    padding-top: calc(33 / 320 * 100vw);
    padding-bottom: 50px;
    text-align: center;
    position: relative;
  }
  @include tablet {
    padding-top: 10px;
    padding-bottom: 80px;
  }
  @include desktop {
    padding-top: 26px;
    padding-bottom: 56px;
  }
}
.hero__container {
  width: 100%;
  @include tablet {
    width: 632px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    width: 822px;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__title {
  width: calc(224 / 320 * 100vw);
  font-weight: normal;
  letter-spacing: 0.02px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--secondary-font);
  font-size: calc(30 / 320 * 100vw);
  line-height: 1.267;
  margin-bottom: calc(3 / 320 * 100vw);

  @include tablet {
    width: 224px;
    height: 78px;
    font-size: 30px;
    margin-left: 0;
    margin-bottom: 3px;
  }
  @include desktop {
    width: 490px;
    height: 130px;
    margin-bottom: 15px;
    font-size: 64px;
    line-height: 1.015;
    margin-left: 0;
  }
}

.hero__text {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 37px;
  @include mini {
    font-size: calc(16 / 320 * 100vw);
    text-align: center;
  }
  @include mobile {
    font-size: calc(16 / 320 * 100vw);
    text-align: center;
  }
  @include tablet {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 1.25;
  }
  @include desktop {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.208;
  }
}

.hero__button {
  @include tablet {
    margin-bottom: 31px;
  }
  @include desktop {
    margin-bottom: 65px;
  }
}
.hero__social-icons.social-icons {
  @include mini {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 15px);
  }
  @include mobile {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 15px);
  }
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}
