.hero {
  // margin-top: 33px;
  margin-top: calc(33 / 320 * 100vw);
  text-align: center;
  position: relative;
}

.hero__title {
  // width: 224px;
  width: calc(224 / 320 * 100vw);
  // height: 76px;
  font-weight: normal;
  letter-spacing: 0.02px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--secondary-font);
  // font-size: 30px;
  font-size: calc(30 / 320 * 100vw);
  line-height: 1.267;
}

.hero__text {
  font-family: var(--main-font);
  font-weight: 500;
  // font-size: 16px;
  font-size: calc(16 / 320 * 100vw);
  line-height: 1.25;
  text-align: center;
  // margin-top: 3px;
  margin-top: calc(3 / 320 * 100vw);
}

.hero__button {
  width: 145px;
  margin-top: 37px;
  margin-bottom: 50px;
}
.hero__social-icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 15px);
}
