/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './base/fonts';
@import './utils/variables';
@import './mixin';
@import './base/base';
@import './utils/utility-classes';
@import './base/button';
@import './base/read-more-button';
@import './header';
@import './hero';
@import './components/about_us';
@import './components/program';
@import './components/registration-form';
@import './components/contact';
@import './components/social-icons';
@import './components/footer';
