@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff"), url("../fonts/montserrat-v15-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500.woff") format("woff"), url("../fonts/montserrat-v15-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat-v15-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v15-latin-500italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500italic.woff") format("woff"), url("../fonts/montserrat-v15-latin-500italic.ttf") format("truetype"), url("../fonts/montserrat-v15-latin-500italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* caveat-brush-regular - latin */
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/caveat-brush-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/caveat-brush-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/caveat-brush-v6-latin-regular.woff2") format("woff2"), url("../fonts/caveat-brush-v6-latin-regular.woff") format("woff"), url("../fonts/caveat-brush-v6-latin-regular.ttf") format("truetype"), url("../fonts/caveat-brush-v6-latin-regular.svg#CaveatBrush") format("svg");
  /* Legacy iOS */
}

:root {
  --main-bg: #fffff9;
  --secondary-bg: #fef3e4;
  --main-text-color: #2e2520;
  --secondary-text-color: #000000;
  --contact-text-color: #2e2520;
  --buttons-bg: #ab816c;
  --buttons-text-color: #ffffff;
  --box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  --form-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  --placeholder-color: rgba(171, 129, 108, 0.5);
  --icons-color: #674d40;
  --main-font: 'Montserrat';
  --secondary-font: 'Caveat Brush';
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-text-color);
  background-color: var(--main-bg);
}

body {
  font-family: Montserrat;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 824px;
    padding: 0 8px 0 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    width: 635px;
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .container {
    width: 290px;
    padding: 0 5px 0 5px;
  }
}

.button {
  padding: 0;
  border: none;
  color: var(--buttons-text-color);
  font-family: var(--secondary-font);
  text-align: center;
  background-color: var(--buttons-bg);
}

@media screen and (max-width: 319.98px) {
  .button {
    width: 145px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .button {
    width: 145px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .button {
    width: 145px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 158px;
    height: 45px;
    border-radius: 22.5px;
    font-size: 24px;
  }
}

.read-more {
  display: none;
}

@media screen and (min-width: 1280px) {
  .read-more {
    display: block;
  }
}

.read-more.is-hidden {
  display: block;
}

.read-more.is-hidden + .read-more__button--open {
  display: none;
}

.read-more__button {
  background-color: transparent;
  border: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  color: var(--buttons-bg);
}

@media screen and (min-width: 1280px) {
  .read-more__button {
    display: none;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header {
    position: relative;
    padding-top: 7px;
    background-color: var(--secondary-bg);
    z-index: -2;
  }
}

.header__background {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(410px);
          transform: translateY(410px);
  left: 0;
  right: 0;
  height: 460px;
  background-image: url(../images/background/bgtop-mob.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header__logo-box {
    width: calc(96 / 320 * 100vw);
    height: calc(43 / 320 * 100vw);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header__image-box {
    top: 0;
    left: 0;
    position: absolute;
    width: calc(117 / 320 * 100vw);
    height: calc(113 / 320 * 100vw);
    background-image: url(../images/png/mobile/header-donuts_mobile_2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mobile-menu.is-open {
    left: 0;
    width: 100vw;
    top: 0;
    height: 100vh;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    background-color: rgba(254, 243, 228, 0.9);
    z-index: 1;
  }
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.208;
  color: var(--main-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mobile-menu__button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 16px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    fill: var(--main-text-color);
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .mobile-menu__button:focus, .mobile-menu__button:hover {
    fill: var(--buttons-bg);
  }
  .mobile-menu__button .mobile-menu__icon-close {
    display: none;
  }
}

.mobile-menu__button.is-open {
  position: fixed;
}

.mobile-menu__button.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-burger {
  display: none;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mobile-menu__logo-box {
    padding-bottom: 40px;
    width: calc(190 / 320 * 100vw);
    height: calc(85 / 320 * 100vw);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .hero {
    margin-top: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .hero__title {
    width: calc(224 / 320 * 100vw);
    font-weight: normal;
    letter-spacing: 0.02px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-font);
    font-size: calc(30px / 320 * 100vw);
    line-height: 1.267;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .hero__text {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin-top: 3px;
  }
}

.hero__button {
  width: 145px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .about-us__image {
    margin-left: 24.35px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__image {
    margin-left: 76px;
  }
}

.about-us__title {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  color: var(--main-text-color);
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    font-size: 36px;
    line-height: 1.8;
    text-align: start;
  }
}

.about-us__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .about-us__text {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.program__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .program__title {
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .program__title {
    font-size: 36px;
    line-height: 1.81;
    text-align: start;
    margin-bottom: 10px;
  }
}

.program__list {
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .program__list {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.program__list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .program__list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.program__list-item::before {
  display: inline-block;
  content: '>';
  height: 100%;
}

.program__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
}

@media screen and (min-width: 1280px) {
  .program__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__text--margin-top {
  margin-top: 10px;
}

.program_wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (min-width: 1280px) {
  .program_wrap {
    margin-right: 40px;
  }
}

.program__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: -5px;
  margin-top: -25px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .program__events {
    margin-left: -15px;
  }
}

@media screen and (min-width: 1280px) {
  .program__events {
    margin-left: -32px;
    margin-top: -21px;
  }
}

.program__events-item {
  margin-left: 5px;
  -ms-flex-preferred-size: calc((100% - 2 * 5px) / 2);
      flex-basis: calc((100% - 2 * 5px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--secondary-bg);
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  border-radius: 50%;
  width: 142px;
  height: 142px;
}

.program__events-item:nth-child(odd) {
  margin-top: 25px;
}

.program__events-item:nth-child(even) {
  -webkit-transform: translateY(33px);
          transform: translateY(33px);
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .program__events-item {
    margin-left: 15px;
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .program__events-item {
    margin-left: 32px;
    -ms-flex-preferred-size: calc((100% - 2 * 32px) / 2);
        flex-basis: calc((100% - 2 * 32px) / 2);
    width: 180px;
    height: 180px;
  }
  .program__events-item:nth-child(odd) {
    margin-top: 21px;
  }
  .program__events-item:nth-child(even) {
    -webkit-transform: translateY(33px);
            transform: translateY(33px);
    margin-top: 26px;
  }
}

.program__events-item-type {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 50px;
}

@media screen and (min-width: 1280px) {
  .program__events-item-type {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 63px;
  }
}

.program__events-item-deskription {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 13px;
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .program__events-item-deskription {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 17px;
  }
}

.program__icon-chef {
  width: 19px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .program__icon-chef {
    width: 25px;
    height: 23px;
  }
}

.program__icon-people {
  width: 20px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .program__icon-people {
    width: 26px;
    height: 23px;
  }
}

.program__icon-clock {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1280px) {
  .program__icon-clock {
    width: 25px;
    height: 25px;
  }
}

.program__icon-chat {
  width: 25px;
  height: 17px;
}

@media screen and (min-width: 1280px) {
  .program__icon-chat {
    width: 31px;
    height: 21px;
  }
}

.section-form__title {
  margin-bottom: 10px;
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 36px;
  line-height: 1.80;
  text-align: center;
  color: var(--main-text-color);
}

.form {
  padding-top: 54px;
  padding-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 150px;
  -webkit-box-shadow: var(--form-shadow);
          box-shadow: var(--form-shadow);
  background-color: var(--main-bg);
}

.info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 130px;
}

.place-info {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: right;
  color: var(--main-text-color);
}

.info-price {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: right;
  color: var(--main-text-color);
}

.info::after {
  content: '';
  position: absolute;
  margin: 0 30px;
  height: 190px;
  top: -20px;
  right: -75px;
  border: 1px solid var(--placeholder-color);
}

.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.form-info__title {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 1.22;
}

.form-info__input {
  padding: 0;
  max-width: 240px;
  width: 100%;
  height: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--buttons-bg);
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  background-color: var(---main-bg);
}

.form-info__input:not(:last-child) {
  margin-bottom: 15px;
}

.form-info__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.form-info__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.form-info__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.form-info__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  margin-top: 27px;
  margin-bottom: 40px;
}

.contact-form {
  text-align: center;
}

.contact__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.71;
}

@media screen and (min-width: 1280px) {
  .contact__title {
    font-size: 36px;
    line-height: 1.71;
  }
}

.contact__subtitle {
  font-family: var(--main-fon);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .contact__subtitle {
    font-size: 18px;
    line-height: 1.71;
  }
}

.contact__input {
  display: block;
  margin: 0 auto 25px auto;
  width: 265px;
  height: 22px;
  border: none;
  border-bottom: 1px solid var(--buttons-bg);
  color: var(--main-text-color);
}

.contact__input::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.contact__input:-ms-input-placeholder {
  color: var(--placeholder-color);
}

.contact__input::-ms-input-placeholder {
  color: var(--placeholder-color);
}

.contact__input::placeholder {
  color: var(--placeholder-color);
}

@media screen and (min-width: 1280px) {
  .contact__input {
    width: 430px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .contact__input {
    width: 410px;
  }
}

.footer .container {
  outline: 1px solid red;
  display: block;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .footer .container {
    padding: 0 0 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer .container {
    padding: 0 1px 21px;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding: 0 1px 21px;
  }
}

.footer .footer-contact {
  outline: 1px solid red;
  margin-top: 34px;
  display: block;
}

.footer .footer-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-contact__item {
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--contact-text-color);
}

.footer .footer-social {
  display: block;
  margin-top: 34px;
  text-align: center;
}

.footer .footer-social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer-social__icon {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */