:root {
  --main-bg: #fffff9;
  --secondary-bg: #fef3e4;
  --main-text-color: #2e2520;
  --secondary-text-color: #000000;
  --contact-text-color: #2e2520;
  --buttons-bg: #ab816c;
  --buttons-text-color: #ffffff;
  --box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  --form-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  --placeholder-color: rgba(171, 129, 108, 0.5);
  --icons-color: #674d40;
  --menu-focus: #876655;
  --form-valid: rgb(49, 180, 38);
  --form-invalid: rgba(255, 7, 7, 0.404);
  --border-form-invalid: rgba(177, 2, 2, 0.705);
  --main-font: 'Montserrat';
  --secondary-font: 'Caveat Brush';
}
