<footer class="footer">
  <div class="container">
    <div class="footer-social">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a
            href="https://twitter.com/"
            class="footer-social__link"
            target="_blank"
            rel="noopener noreferrer"
            >twitter<svg class="footer-social__icon">
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-social__item">
          <a
            href="https://www.instagram.com/"
            class="footer-social__link"
            target="_blank"
            rel="noopener noreferrer"
            >instagram<svg class="footer-social__icon">
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-social__item">
          <a
            href="https://uk-ua.facebook.com/"
            class="footer-social__link"
            target="_blank"
            rel="noopener noreferrer"
            >facebook<svg class="footer-social__icon">
              <use href=""></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <ul class="footer-contact__list">
        <li>
          <a class="footer-contact__item footer-contact__item--tel" href="tel:9102228855"
            >(910) 222-8855</a
          >
        </li>
        <li>
          <a
            class="footer-contact__item footer-contact__item--location"
            href="https://goo.gl/maps/Ki2hyy4hpWujTXNJA"
            >NEW YORK</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
