<footer class="footer" id="footer">
  <div class="container">
    <!-- Social-Icons -->
    <div class="social-icons">
      <ul class="social-icons__list list-style">
        <li class="social-icons__item">
          <a
            href="https://twitter.com/"
            class="social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icons__icon social-icons__icon--twitter">
              <use href="././images/icons.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="social-icons__item">
          <a
            href="https://www.instagram.com/"
            class="social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icons__icon social-icons__icon--instagram">
              <use href="././images/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-icons__item">
          <a
            href="https://uk-ua.facebook.com/"
            class="social-icons__link"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icons__icon social-icons__icon--facebook">
              <use href="././images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <!-- Footer-Contacts -->
    <div class="footer-contact">
      <ul class="footer-contact__list list-style">
        <li>
          <a
            class="footer-contact__item footer-contact__item--tel"
            href="tel:9102228855"
            target="_blank"
            ><svg class="footer-contact__icon" width="13" height="13">
              <use href="././images/icons.svg#icon-group"></use></svg
            >(910)222-8855</a
          >
        </li>
        <li>
          <a
            class="footer-contact__item footer-contact__item--location"
            href="https://www.google.com/maps/place/%D0%9C%D1%83%D0%B7%D0%B5%D0%B9+%D1%81%D0%B5%D0%BA%D1%81%D0%B0/@40.7440331,-73.9894416,17z/data=!3m2!4b1!5s0x89c259a642ed91ef:0x3dd1e8a751a1047c!4m5!3m4!1s0x89c259a642ba4d47:0xa3204d864887bb80!8m2!3d40.7440291!4d-73.9872529"
            target="_blank"
            ><svg class="footer-contact__icon" width="11" height="14.44">
              <use href="././images/icons.svg#icon-location"></use></svg
            >New York</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-decor"></div>
  </div>
</footer>
