<section class="header">
    <div class="header__background"></div>
    <div class="header__logo-box">
        <svg class="header__logo-box">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
    </div>
    <div class="header__image-box"></div>
    <button data-menu-button=""
      class="mobile-menu__button"
      type="button" 
      aria-expanded="false"
      aria-controls="mobile-menu">
        <svg  height="16" width="30">
            <use class="mobile-menu__icon-burger" href="./images/icons.svg#icon-menu"></use>
            <use class="mobile-menu__icon-close" href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
    
</section>