<section class="header">
    <div class="header__image-box--spoon"></div>
    <div class="header__background"></div>
<div class="header__container">
    <nav class="header-menu">
    <div class="header__logo-box">
        <svg class="header__logo-container">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
    </div>
    
        <ul class="header-menu__list list-style">
            <li class="header-menu__item"><a  href="#about-us" class="header-menu__link">About us</a></li>
            <li class="header-menu__item"><a  href="#program" class="header-menu__link">Program</a></li>
            <li class="header-menu__item"><a  href="#reviews" class="header-menu__link">Reviews</a></li>
            <li class="header-menu__item"><a  href="#contact" class="header-menu__link">Contacts</a></li>
        </ul>
    </nav>
    <div class="header__image-box">    
    </div>
    
    </div>
</div>
    
    
</section>