<section class="hero">
<div class="hero__container">
    <h1 class="hero__title">
        Donut Masterclass with the Donut King
        
    </h1>
    <p class="hero__text">
        Hosted by Eva Green
    </p>
    <button type="button" class="button hero__button">Register</button>
    <div class="social-icons hero__social-icons">
        <ul class="social-icons__list list-style">
            <li class="social-icons__item">
                <a href="https://twitter.com/" class="social-icons__link" target="_blank" rel="noopener noreferrer"><svg
                        class="social-icons__icon social-icons__icon--twitter">
                        <use href="././images/icons.svg#icon-twitter"></use>
                    </svg></a>
            </li>
            <li class="social-icons__item">
                <a href="https://www.instagram.com/" class="social-icons__link" target="_blank"
                    rel="noopener noreferrer"><svg class="social-icons__icon social-icons__icon--instagram">
                        <use href="././images/icons.svg#icon-instagram"></use>
                    </svg></a>
            </li>
            <li class="social-icons__item">
                <a href="https://uk-ua.facebook.com/" class="social-icons__link" target="_blank"
                    rel="noopener noreferrer"><svg class="social-icons__icon social-icons__icon--facebook">
                        <use href="././images/icons.svg#icon-facebook"></use>
                    </svg></a>
            </li>
        </ul>
    </div>
</div>
</section>