
<div data-menu class="mobile-menu" id="mobile-menu">
    
        <svg class="mobile-menu__logo-box">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
    
    <nav>
        <ul class="mobile-menu__list list-style">
            <li class="mobile-menu__item"><a href="" class="mobile-menu__link current">About us</a></li>
            <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Program</a></li>
            <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Reviews</a></li>
            <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Contacts</a></li>
        </ul>
    </nav>
</div>
<button data-menu-button class="mobile-menu__button" type="button" aria-expanded="false" aria-controls="mobile-menu">
    <svg height="16" width="30">
        <use class="mobile-menu__icon-burger" href="./images/icons.svg#icon-menu"></use>
        <use class="mobile-menu__icon-close" href="./images/icons.svg#icon-close"></use>
    </svg>
</button>