
<div data-menu data-menu1 data-menu2 data-menu3 data-menu4 class="mobile-menu" id="mobile-menu">
    
        <svg class="mobile-menu__logo-box">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>
    
    <nav>
        <ul class="mobile-menu__list list-style">
            <li class="mobile-menu__item"><a data-menu-button1 href="#about-us" class="mobile-menu__link">About us</a></li>
            <li class="mobile-menu__item"><a data-menu-button2 href="#program" class="mobile-menu__link">Program</a></li>
            <li class="mobile-menu__item"><a data-menu-button3 href="#reviews" class="mobile-menu__link">Reviews</a></li>
            <li class="mobile-menu__item"><a data-menu-button4 href="#contact" class="mobile-menu__link">Contacts</a></li>
        </ul>
    </nav>
    
</div>

<!-- <button data-menu-button class="mobile-menu__button" type="button" aria-expanded="false" aria-controls="mobile-menu">
    <svg height="16" width="30">
        <use class="mobile-menu__icon-burger" href="./images/icons.svg#icon-menu"></use>
        <use class="mobile-menu__icon-close" href="./images/icons.svg#icon-close"></use>
    </svg>
</button> -->
<button data-menu-button class="hamburger mobile-menu__button" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
