<section class="section-form">
    <div class="container">
        <h2>Registration</h2>
        <form class="form">
            <div class=info>
                <p class="place-info">May 23, 11:00 New York</p>
                <p class="price">$ 699</p>
            </div>
            <div class="form-info">
                <p>Apply your personal info for registration </p>
                <input type="name" name="username" placeholder="Your name">
                <input type="tel" name="phone" placeholder="Phone number">
                <input type="email" name="email" placeholder="Email">

            </div>

        </form>
    </div>
</section>