<section class="reviews" id="reviews">
  <div class="rev-slider">
    <div class="slide">
      <picture class="review-list__photo">
        <source
          srcset="
            ./images/png/clients/icon-will-mobile.png   1x,
            ./images/png/clients/icon-will-mobile@2.png 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/png/clients/icon-will-tablet.png   1x,
            ./images/png/clients/icon-will-tablet@2.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ././images/png/clients/icon-will-desctop.png   1x,
            ././images/png/clients/icon-will-desctop@2.png 2x
          "
          media="(min-width: 1200px)"
        />

        <img src="./images/png/clients/icon-will-mobile.png" alt="Reviewer" />
      </picture>
      <div class="review-list__info">
        <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
        <h3><i class="review-list__name">Will</i></h3>
      </div>
    </div>
    <div class="slide">
      <picture class="review-list__photo">
        <source
          srcset="
            ./images/png/clients/icon-will-mobile.png   1x,
            ./images/png/clients/icon-will-mobile@2.png 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/png/clients/icon-will-tablet.png   1x,
            ./images/png/clients/icon-will-tablet@2.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ././images/png/clients/icon-will-desctop.png   1x,
            ././images/png/clients/icon-will-desctop@2.png 2x
          "
          media="(min-width: 1200px)"
        />

        <img src="./images/png/clients/icon-will-mobile.png" alt="Reviewer" />
      </picture>
      <div class="review-list__info">
        <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
        <h3><i class="review-list__name">Will</i></h3>
      </div>
    </div>
    <div class="slide">
      <picture class="review-list__photo">
        <source
          srcset="
            ./images/png/clients/icon-will-mobile.png   1x,
            ./images/png/clients/icon-will-mobile@2.png 2x
          "
          media="(min-width: 320px)"
        />
        <source
          srcset="
            ./images/png/clients/icon-will-tablet.png   1x,
            ./images/png/clients/icon-will-tablet@2.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ././images/png/clients/icon-will-desctop.png   1x,
            ././images/png/clients/icon-will-desctop@2.png 2x
          "
          media="(min-width: 1200px)"
        />

        <img src="./images/png/clients/icon-will-mobile.png" alt="Reviewer" />
      </picture>
      <div class="review-list__info">
        <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
        <h3><i class="review-list__name">Will</i></h3>
      </div>
    </div>
  </div>
  <!-- <div class="rev-slider2">
    <div class="capture1"></div>
    <div class="capture2"></div>
    <div class="capture3"></div>
  </div> -->
</section>
