<section class="reviews" id="reviews">
  <div class="background-bottom"></div>
  <div class="container container--compressed">
    <h2 class="reviews__head">Reviews</h2>
    <div class="rev-slider">
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/denys.jpg"
              alt="Denya"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Denys</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/rita.jpg"
              alt="Margarita"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Margarita</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/vova.jpg"
              alt="Volodymyr"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Volodymyr</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/zmenn.jpg"
              alt="Evgeny"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Evgeny</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/Paul.jpg"
              alt="Paul"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Paul</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/kate.jpg"
              alt="Ekaterina"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Ekaterina</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 234px, (min-width: 768px) 186px, (min-width: 320px) 110px, 100vw"
              src="./images/viktoriia.jpg"
              alt="Viktoriia"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Viktoriia</h3>
        </div>
      </div>
      <div class="slide">
        <div class="img-block">
          <div>
            <img
              sizes="(min-width: 1280px) 136px, (min-width: 768px) 110px, (min-width: 320px) 110px, 100vw"
              src="./images/vitalina.jpg"
              alt="Vitalina"
            />
          </div>
        </div>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3 class="reviewer__name">Vitalina</h3>
        </div>
      </div>
    </div>
    <div class="rev-slider2">
      <div class="review">
        <article class="review__text">
          I would like to thank to my team from the bottom of my heart for the work done in good
          faith, for the time spent, for the efforts and efforts made, and, most importantly, for
          the excellent result! I wish you success in your future projects, creative ideas, physical
          strength, patience, and most importantly - time. There is no doubt about the quality of
          the work - it is just at its best!
        </article>
        <p class="counter">1/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          My friendly team, thank you! I tell you all this without flattery! It's great to work with
          you together, Meet at work in the morning Driving teas ... but what about without teas?
          Chatting about everything in the smoking room. For you, let these lines express My
          gratitude, my love! Thank you very much, friends! Colleagues are the best, there is no
          need for others! Working with you is the reward After all, we, you must agree, are like a
          family!
        </article>
        <p class="counter">2/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          Dear mentor! You are doing an important job, you give your work a lot of strength and
          energy. Thank you from the bottom of our hearts! We highly appreciate your patience and
          understanding, dedication and love for students! Good health, peace of mind, happiness,
          vigor and well-being.
        </article>
        <p class="counter">3/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          Thank you for your hard work, For making such a huge contribution! Of course, you are not
          saving yourself ... We appreciate your experience, diligence, talent!
        </article>
        <p class="counter">4/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          Dear colleagues! Working with you is a real pleasure, because you are wonderful and worthy
          People with a capital letter! Thank you for being so cool!
        </article>
        <p class="counter">5/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          From the bottom of my heart I want to thank you for your selfless work, for your full
          dedication to the cause. You, like no one else, deserve respect and praise. Any work is
          debugged in your hands, your work is difficult to underestimate. Your life energy knows no
          boundaries. Your work results are impressive. Thank you so much for your work! Open up new
          horizons for your work knowledge, and success will be on your side.
        </article>
        <p class="counter">6/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          In general, it would not hurt me to say "thank you", but keep in mind - I do not drink
          flowers and candies ))
        </article>
        <p class="counter">7/8</p>
      </div>
      <div class="review">
        <article class="review__text">
          I say without any doubt: I appreciate your attitude, Thank you for your congratulations, I
          respect and love you immensely!
        </article>
        <p class="counter">8/8</p>
      </div>
    </div>
  </div>
</section>
