<section class="review-section" id="review">
  <div class="container">
    <h2 class="review-section__title">Reviews</h2>
    <ul class="review-list list-style">
      <li class="review-list__item review-list__item--john">
        <picture class="review-list__photo">
          <source
            srcset="
              ./images/png/clients/icon-john-tablet.png   1x,
              ./images/png/clients/icon-john-tablet@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/png/clients/icon-john-desctop.png   1x,
              ./images/png/clients/icon-john-desctop@2.png 2x
            "
          />

          <img src="./images/png/clients/icon-john-tablet.png" alt="Reviewer" />
        </picture>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate4.png" alt="Rating" />
          <h3><i class="review-list__name">John</i></h3>
        </div>
      </li>
      <li class="review-list__item review-list__item--will">
        <picture class="review-list__photo">
          <source
            srcset="
              ./images/png/clients/icon-will-mobile.png   1x,
              ./images/png/clients/icon-will-mobile@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./images/png/clients/icon-will-tablet.png   1x,
              ./images/png/clients/icon-will-tablet@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ././images/png/clients/icon-will-desctop.png   1x,
              ././images/png/clients/icon-will-desctop@2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <img src="./images/png/clients/icon-will-mobile.png" alt="Reviewer" />
        </picture>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3><i class="review-list__name">Will</i></h3>
        </div>
      </li>
      <li class="review-list__item review-list__item--john">
        <picture class="review-list__photo">
          <source
            srcset="
              ./images/png/clients/icon-elizabeth-tablet.png   1x,
              ./images/png/clients/icon-elizabeth-tablet@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/png/clients/icon-elizabeth-desctop.png   1x,
              ./images/png/clients/icon-elizabeth-desctop@2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <img src="./images/png/clients/icon-elizabeth-tablet.png" alt="Reviewer" />
        </picture>
        <div class="review-list__info">
          <img class="review-list__rate" src="./images/png/rate/icon-rate5.png" alt="Rating" />
          <h3><i class="review-list__name">Elizabeth</i></h3>
        </div>
      </li>
    </ul>
    <div class="review-section__client">
      <p class="review-section__text">
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen!<br />Thank you so much for the masterclass! Looking forward
        to the next one and highly recommend it to everyone!
      </p>
      <p class="review-section__number">2/15</p>
    </div>
  </div>
</section>
