.program--container {
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}

.program--wrap {
  flex-basis: 50%;
  @include tablet {
    margin-right: 40px;
  }
  @include desktop {
    margin-right: 40px;
  }
}

.program__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--main-text-color);

  @include tablet {
    text-align: start;
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.81;
    text-align: start;
    margin-bottom: 10px;
  }
}

.program__list {
  margin-top: 10px;
  margin-bottom: 0;

  @include desktop {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.program__list-item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 15px;
  }
}

.program__list-item {
  &::before {
    display: inline-block;
    content: '>';
    height: 100%;
  }
}

.program__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  @include desktop {
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__text--margin-top {
  margin-top: 10px;
}

.program__events {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin-left: -5px;
  height: 100%;

  @include tablet {
    margin-left: -15px;
  }
  @include desktop {
    margin-left: -32px;
    // margin-top: -21px;
  }
}
.program__events-item {
  position: relative;

  margin-left: 5px;
  flex-basis: calc((100% - 2 * 5px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--secondary-bg);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  border-radius: 50%;
  width: 142px;
  height: 142px;

  &:nth-child(odd) {
    margin-top: 25px;
  }
  &:nth-child(even) {
    margin-top: 66px;
  }

  @include tablet {
    margin-left: 15px;
    flex-basis: calc((100% - 2 * 15px) / 2);
  }
  @include desktop {
    margin-left: 32px;
    flex-basis: calc((100% - 2 * 32px) / 2);
    width: 180px;
    height: 180px;

    &:nth-child(odd) {
      margin-top: 21px;
    }
    &:nth-child(even) {
      margin-top: 59px;
    }
  }
}
.program__events-item--img1::before,
.program__events-item--img2::before,
.program__events-item--img3::before,
.program__events-item--img4::before {
  position: absolute;
  content: '';
  display: block;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.program__events-item--img1::before {
  top: -34px;
  width: 77px;
  height: 85px;
  background-image: url(../images/png/mobile/donat1_mobile.png);

  @include tablet {
    background-image: url(../images/png/tablet/donut1_tablet.png);
  }

  @include desktop {
    top: -43px;
    width: 97px;
    height: 107px;
    background-image: url(../images/png/desctop/donut1_desctop.png);
  }
}
.program__events-item--img2::before {
  top: -26px;
  width: 65px;
  height: 72px;
  background-image: url(../images/png/mobile/donat2_mobile.png);

  @include tablet {
    background-image: url(../images/png/tablet/donut2_tablet.png);
  }

  @include desktop {
    top: -35px;
    width: 83px;
    height: 92px;
    background-image: url(../images/png/desctop/donut2_desctop.png);
  }
}
.program__events-item--img3::before {
  top: -32px;
  width: 69px;
  height: 77px;
  background-image: url(../images/png/mobile/donat3_mobile.png);

  @include tablet {
    background-image: url(../images/png/tablet/donut3_tablet.png);
  }

  @include desktop {
    top: -40px;
    width: 88px;
    height: 97px;
    background-image: url(../images/png/desctop/donut3_desctop.png);
  }
}
.program__events-item--img4::before {
  top: -28px;
  width: 65px;
  height: 73px;
  background-image: url(../images/png/mobile/donat4_mobile.png);

  @include tablet {
    background-image: url(../images/png/tablet/donut4_tablet.png);
  }

  @include desktop {
    top: -35px;
    width: 83px;
    height: 92px;
    background-image: url(../images/png/desctop/donut4_desctop.png);
  }
}

@include retina2 {
  .program__events-item--img1::before {
    background-image: url(../images/png/mobile/donat1_mobile_2x.png);
    @include tablet {
      background-image: url(../images/png/tablet/donut1_tablet_2x.png);
    }
    @include desktop {
      background-image: url(../images/png/desctop/donut1_desctop_2x.png);
    }
  }
  .program__events-item--img2::before {
    background-image: url(../images/png/mobile/donat2_mobile_2x.png);
    @include tablet {
      background-image: url(../images/png/tablet/donut2_tablet_2x.png);
    }
    @include desktop {
      background-image: url(../images/png/desctop/donut2_desctop_2x.png);
    }
  }
  .program__events-item--img3::before {
    background-image: url(../images/png/mobile/donat3_mobile_2x.png);
    @include tablet {
      background-image: url(../images/png/tablet/donut3_tablet_2x.png);
    }
    @include desktop {
      background-image: url(../images/png/desctop/donut3_desctop_2x.png);
    }
  }
  .program__events-item--img4::before {
    background-image: url(../images/png/mobile/donat4_mobile_2x.png);
    @include tablet {
      background-image: url(../images/png/tablet/donut4_tablet_2x.png);
    }
    @include desktop {
      background-image: url(../images/png/desctop/donut4_desctop_2x.png);
    }
  }
}

.program__events-item-type {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: var(--secondary-text-color);

  margin-top: 50px;

  @include desktop {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 63px;
  }
}
.program__events-item-deskription {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--secondary-text-color);

  margin-top: 13px;
  margin-bottom: 13px;

  @include desktop {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 17px;
  }
}
.program__icon-chef {
  width: 19px;
  height: 18px;
  @include desktop {
    width: 25px;
    height: 23px;
  }
}
.program__icon-people {
  width: 20px;
  height: 18px;
  @include desktop {
    width: 26px;
    height: 23px;
  }
}
.program__icon-clock {
  width: 20px;
  height: 20px;
  @include desktop {
    width: 25px;
    height: 25px;
  }
}
.program__icon-chat {
  width: 25px;
  height: 17px;
  @include desktop {
    width: 31px;
    height: 21px;
  }
}
