.program {
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}

.program__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--main-text-color);

  @include tablet {
    text-align: start;
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.81;
    text-align: start;
    margin-bottom: 10px;
  }
}

.program__list {
  margin-top: 10px;
  margin-bottom: 0;

  @include desktop {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.program__list-item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 15px;
  }
}

.program__list-item {
  &::before {
    display: inline-block;
    content: '>';
    height: 100%;
  }
}

.program__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: inherit;
  @include desktop {
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__text--margin-top {
  margin-top: 10px;
}
.program_wrap {
  flex-basis: 50%;
  @include desktop {
    margin-right: 40px;
  }
}

.program__events {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin-left: -5px;
  margin-top: -25px;

  @include tablet {
    margin-left: -15px;
  }
  @include desktop {
    margin-left: -32px;
    margin-top: -21px;
  }
}
.program__events-item {
  margin-left: 5px;
  flex-basis: calc((100% - 2 * 5px) / 2);
  // outline: 1px solid tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--secondary-bg);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  border-radius: 50%;
  width: 142px;
  height: 142px;

  &:nth-child(odd) {
    margin-top: 25px;
  }
  &:nth-child(even) {
    transform: translateY(33px);
    margin-top: 30px;
  }

  @include tablet {
    margin-left: 15px;
    flex-basis: calc((100% - 2 * 15px) / 2);
  }
  @include desktop {
    margin-left: 32px;
    flex-basis: calc((100% - 2 * 32px) / 2);
    width: 180px;
    height: 180px;

    &:nth-child(odd) {
      margin-top: 21px;
    }
    &:nth-child(even) {
      transform: translateY(33px);
      margin-top: 26px;
    }
  }

  // &::before {
  //   display: block;
  //   content: '';

  //   // position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 76px;
  //   height: 84px;
  //   background-image: url(../images/png/mobile/donat1_mobile.png);
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }
}

.program__events-item-type {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: var(--secondary-text-color);

  margin-top: 50px;

  @include desktop {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 63px;
  }
}
.program__events-item-deskription {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--secondary-text-color);

  margin-top: 13px;
  margin-bottom: 13px;

  @include desktop {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 17px;
  }
}
.program__icon-chef {
  width: 19px;
  height: 18px;
  @include desktop {
    width: 25px;
    height: 23px;
  }
}
.program__icon-people {
  width: 20px;
  height: 18px;
  @include desktop {
    width: 26px;
    height: 23px;
  }
}
.program__icon-clock {
  width: 20px;
  height: 20px;
  @include desktop {
    width: 25px;
    height: 25px;
  }
}
.program__icon-chat {
  width: 25px;
  height: 17px;
  @include desktop {
    width: 31px;
    height: 21px;
  }
}
