.section-form {
    position: relative;
    background-color: var(--secondary-bg);
    @include mini {
        padding-top: 0;
    }
    @include mobile {
        padding-top: 0;
        padding-bottom: 27px;
    }
    @include tablet {
        padding-top: 30px;
        padding-bottom: 51px;
    }
    @include desktop {
        padding-top: 68px;
        padding-bottom: 40px;
    }
}

.section-form__title {
    font-family: var(--secondary-font);
    font-weight: normal;
    text-align: center;
    color: var(--main-text-color);
    @include mini {
        top: 60px;
        right: 0px;
        margin: 0;
        position: relative;
        margin: 0;
        font-size: 24px;
        line-height: 2.70;
    }
    @include mobile {
        top: 80px;
        right: 0px;
        margin: 0;
        position: relative;
        font-size: 24px;
        line-height: 2.70;
    }
    @include tablet {
        font-size: 24px;
        line-height: 2.70;
    }
    @include desktop {
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 1.80;
    }
}

.form {
    padding-top: 54px;
    padding-bottom: 54px;
    box-shadow: var(--form-shadow);
    background-color: var(--main-bg);
    @include mini {
        padding-top: 93px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 515px;
        align-items: center;
        border-radius: 145px 145px 0% 0%;
    }
    @include mobile {
        padding-top: 93px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 515px;
        align-items: center;
        border-radius: 145px 145px 0% 0%;
    }
    @include tablet {
        position: relative;
        justify-content: space-around;
        display: flex;
        border-radius: 150px;
        z-index: 1;
    }
    @include desktop {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        border-radius: 150px;
        z-index: 2;
    }
}

.wrap-img {
    position: relative;
    @include mini {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.img-donut {
    position: absolute;
    content: '';
    display: block;
    width: 196px;
    height: 200px;
    background-position: -3% 48%;
    @include mobile {
        display: none;
    }
    @include tablet {
        top: -292px;
        right: 483px;
    }
    @include desktop {
        top: -271px;
        right: 740px;
    }
}

.img-confetti {
    position: absolute;
    content: '';
    display: block;
    @include mini {
        display: none;
    }
    @include mobile {
        display: none;
    }
    @include tablet {
        top: -195px;
        right: -54px;
        width: 190px;
        height: 345px;
    }
    @include desktop {
        top: -272px;
        right: -263px;
        width: 544px;
        height: 300px;
    }
}

.info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 130px;
    @include mini {
        flex-direction: column;
    }
    @include mobile {
        flex-direction: column;
    }
    @include tablet {
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 130px;
    }
}

.place-info {
    font-family: var(--main-font);
    font-weight: 500;
    text-align: right;
    color: var(--main-text-color);
    @include mini {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
    }
    @include mobile {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
    }
    @include tablet {
        font-size: 18px;
        line-height: 1.22;
        text-align: right;
    }
    @include desktop {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.2;
    }
}

.info-price {
    font-family: var(--main-font);
    font-weight: 500;
    text-align: right;
    color: var(--main-text-color);
    @include mini {
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        margin-bottom: 20px
    }
    @include mobile {
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        margin-bottom: 20px;
    }
    @include tablet {
        font-size: 18px;
        line-height: 1.22;
        text-align: right;
    }
    @include desktop {
        font-size: 20px;
        line-height: 1.2;
    }
}

.info::after {
    content: '';
    position: absolute;
    border: 1px solid var(--placeholder-color);
    @include mini {
        height: 0;
        top: 85px;
        right: -95px;
        width: 265px;
        transform: rotate(0deg);
        margin: 0;
    }
    @include mobile {
        height: 0;
        width: 265px;
        top: 107px;
        right: -68px;
        transform: rotate(0deg);
        margin: 0;
    }
    @include tablet {
        margin-left: 30px;
        margin-right: 30px;
        top: 70px;
        right: -141px;
        width: 190px;
        height: 0;
        transform: rotate(90deg);
    }
    @include desktop {
        margin: 0 30px;
        height: 190px;
        top: -20px;
        right: -66px;
    }
}

.form-info {
    display: flex;
    @include mini {
        flex-direction: column;
        width: 250px;
        margin-top: 11px;
        margin-bottom: 37px;
    }
    @include mobile {
        flex-direction: column;
        width: 250px;
        margin-top: 11px;
        margin-bottom: 37px;
    }
    @include tablet {
        flex-direction: column;
        width: 250px;
    }
    @include desktop {
        flex-direction: column;
        width: 250px;
    }
}

.form-info__title {
    font-size: 18px;
    line-height: 1.22;
    @include mini {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 17px;
        text-align: center;
    }
    @include mobile {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 17px;
        text-align: center;
    }
    @include tablet {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 1.25;
    }
    @include desktop {
        margin-bottom: 13px;
    }
}

.form-info__input {
    padding: 0;
    max-width: 240px;
    width: 100%;
    height: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--buttons-bg);
    font-size: 16px;
    line-height: 1.25;
    color: var(--secondary-text-color);
    background-color: var(---main-bg);
}

.form-info__input:not(:last-child) {
    @include mini {
        margin-bottom: 25px;
    }
    @include mobile {
        margin-bottom: 25px;
    }
    @include tablet {
        margin-bottom: 17px;
    }
    @include desktop {
        margin-bottom: 15px;
    }
}

.form-info__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--placeholder-color);
}

.form-info__input:valid {
    color: var(--buttons-bg);
    border: 2px solid var(--form-valid);
    border-radius: 4px;
}

.form-info__input:invalid:not(:focus):not(:placeholder-shown) {
    background: var(--form-invalid);
    border: 2px solid var(--border-form-invalid);
    border-radius: 4px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    @include mini {
        justify-content: center;
        align-items: center;
    }
    @include mobile {
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    @include tablet {
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    @include desktop {
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
}