.container--compressed {
  @include tablet {
    width: 626px;
    padding: 0 5px 0 5px;
  }

  @include desktop {
    width: 626px;
    padding: 0 5px 0 5px;
  }
}

.reviews {
  padding-top: 40px;
}

.reviews__head {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: var(--main-text-color);

  margin-bottom: 10px;
}

.rev-slider {
  min-height: 290px;

  @include mobile {
    min-height: auto;
  }
}

.rev-slider,
.rev-slider2 {
  text-align: center;
}

.slick-slide img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.slick-slide .slide__img {
  margin-top: 19px;
}

.reviewer__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: inherit;
  margin-bottom: 15px;

  @include desktop {
    font-size: 16px;
  }
}

.review__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: var(--main-text-color);
  margin-bottom: 30px;
}

.counter {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: var(--buttons-bg);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 35px;
    height: 1.5px;
    background: var(--buttons-bg);
    margin: 0 15px;
  }
}

.img-block {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.img-block > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide .img-block {
  border-radius: 100%;
  width: 50%;
  overflow: hidden;
  margin: 0 auto 5px auto;
  transition: width 300ms, height 300ms;
}

.slick-active .img-block {
  width: 90%;
  margin-top: 30px;

  @include mobile {
    width: 40%;
  }
}
