.container--compressed {
  @include tablet {
    width: 626px;
    padding: 0 5px 0 5px;
  }

  @include desktop {
    width: 626px;
    padding: 0 5px 0 5px;
  }
}

.reviews {
  padding-top: 40px;
  position: relative;

  @include tablet {
    padding-top: 8px;
  }

  @include desktop {
    padding-top: 75px;
  }
}

.reviews__head {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: var(--main-text-color);

  margin-bottom: 10px;
  @include desktop {
    font-size: 36px;
  }
}

.rev-slider {
  min-height: 290px;

  @include mobile {
    min-height: auto;
  }
}

.rev-slider,
.rev-slider2 {
  text-align: center;
}

.slick-slide img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.slick-slide .slide__img {
  margin-top: 19px;
}

.reviewer__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: inherit;
  margin-bottom: 15px;

  @include desktop {
    font-size: 16px;
  }
}

.review__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: var(--main-text-color);
  margin-bottom: 30px;

  @include mobile {
    font-size: 16px;
    line-height: 1.19;
  }
}

.counter {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: var(--buttons-bg);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 35px;
    height: 1.5px;
    background: var(--buttons-bg);
    margin: 0 15px;
  }
}

.img-block {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.img-block > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide .img-block {
  border-radius: 100%;
  width: 65%;
  overflow: hidden;
  margin: 0 auto 15px auto;
  transition: width 300ms, height 300ms;

  @include tablet {
    width: 50%;
  }
}

.slick-active .img-block {
  width: 100%;
  margin-top: 20px;

  // @include mobile {
  //   width: 40%;
  //   margin-top: 0;
  // }
  @include tablet {
    width: 90%;
  }
}

.slick-active .img-block,
.slick-slide .img-block {
  @include mobile {
    width: 40%;
    margin-top: 0;
  }
}
.background-bottom {
  position: absolute;
  transform: translateY(-7px);
  z-index: -1;
  left: 0;
  right: 0;
  height: 1215px;
  background-image: url(../images/background/bgbott-mob.png);
  background-size: 100% 100%;
  @include tablet {
    transform: translateY(-40px);
    height: 1260px;
    background-image: url(../images/background/bgbott-tablet.png);
  }
  @include desktop {
    transform: translateY(-28px);
    height: 1475px;
    background-image: url(../images/background/bgbott-desk.png);
  }
}
